* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 12px;
    background-color: lightgrey;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
}

#content {
    width: 100%;
    height: 400px;
}

#results-box {
    display: inline-block;
    width: 75%;
    background-color: darkgray;
    height: inherit;
}

#sidebar {
    display: inline-block;
    float: right;
    width: 25%;
    height: inherit;
    background-color: cadetblue;
}

.filter-row {
    width: 100%;
    display: inline-block;
    padding: 10px 0 0 0;
}

.filter-row input, select, label {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.filter-row #btn-clear {
    width: 15px;
    height: 15px;
    display: block;
    float: right;
    position: relative;
    right: 12.4%;
    bottom: 17px;
}

.filter-row #cities-list {
    width: 71%;
    display: block;
    margin: 0 auto;
    background-color: aliceblue;
    color: cornflowerblue;
    overflow-y: auto;
    max-height: 315px;
    height: auto;
}

#cities-list .city-row {
    border-bottom: 1px solid gainsboro;
}

#cities-list .city-row:hover{
    color: aliceblue;
    background-color: cornflowerblue;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: chocolate;
}