@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu-r.ttf);
}

html, body {
    font-family: Ubuntu, 'Ubuntu Beta', UbuntuBeta, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="text"]:focus, textarea:focus, button:focus,
a.button:focus, select:focus, input[type="file"]:focus,
input[type="password"]:focus, input[type="button"]:focus {
    -webkit-box-shadow: 0 0 7px #79c86e;
    -moz-box-shadow: 0 0 7px #79c86e;
    box-shadow: 0 0 7px #79c86e;
    border: 1px solid #36af21;
    outline: none;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    background-color: #eeeeee;
}

#header {
    width: 100%;
    height: 94px;
    background-image: url(../img/header-bg.png);
}

#content {
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
}

#results-box {
    display: inline-block;
    width: 75%;
    height: 100%;
    min-height: 100%;
}

#results-box > p {
    margin-left: 10px;
}

#targets {
    width: 99%;
    display: inline-block;
    height: 415px;
    overflow-y: scroll;
}

.target-block {
    display: inline-block;
    width: 165px;
    float: left;
    border: 1px dashed darkgray;
    margin: 10px;
}

.target-block:hover {
    border-color: green;
}

.target-photo {
    display: block;
    width: 100px;
    margin: 0 auto;
    position: relative;
}

.target-name {
    text-align: center;
}

.target-name a {
    text-decoration: none;
}

.target-name a:hover {
    text-decoration: underline;
}

.ch-t {
    display: inline-block;
    position: absolute;
    left: -22px;
    top: 10px;
    margin: 0;
    padding: 0;
}

#sidebar {
    display: inline-block;
    float: right;
    width: 25%;
    height: 100%;
    min-height: 100%;
}

.tab-content {
    margin: 0;
    min-height: 100%;
}

.filter-row {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px 0 0 0;
}

.filter-row input[type="text"], input[type="button"], select, label {
    width: 100%;
    display: block;
}

.filter-row > .radio-row {
    margin-top: 5px;
}

.filter-row > .radio-row > i {
    margin-right: 5px;
}

#btn-clear {
    display: inline-block;
    float: right;
    position: relative;
    right: 2%;
    bottom: 22px;
}

#list {
    background-color: #eefdec;
    color: #226621;
    overflow-y: auto;
    width: 100%;
    max-height: 292px;
    padding: 5px;
    border: 1px solid #226621;
}

.city-row {
    padding: 10px;
}

.group-row {
    height: 80px;
    padding: 5px;
    word-wrap: break-word;
}

.group-row > img {
    display: block;
    float: left;
}

.city-row, .group-row {
    border-bottom: 1px solid gainsboro;
}

.city-row:hover, .group-row:hover {
    color: aliceblue;
    background-color: #2ba51c;
}

.name {
    display: inline-block;
    float: left;
    padding-left: 5px;
    width: 70%;
}

.region {
    color: #083707;
}

#age-picker {
    width: 100%;
}

#age-picker > select {
    width: 45%;
    float: left;
}

#age-picker > select.offset {
    margin-left: 10%;
}

#progressbar {
    width: 400px;
    border-radius: 2px; /* (height of inner div) / 2 + padding */
    border: 1px solid black;
    margin-left: 10px;
}

#img-wait {
    margin-left: 10px;
}

#progressbar #progress {
    background-color: green;
    width: 0; /* Adjust with JavaScript */
    height: 20px;
    border-radius: 3px;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/footer-bg.png);
    color: #81CF50;
}

.full-width {
    width: 100%;
}

.mgl10{
    margin-left: 10px;
}