{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'css/kickstart.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/kickstart.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <title>Home</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <img src="/static/img/header_smaller.png" alt="logo" style="margin-left: 100px;"/>
    </div>
    <div id="content">
        <div id="results-box">

        </div>
        <div id="sidebar">

            <ul class="tabs left" style="margin: 0 0 -1px 0">
                <li><a href="#tabr1"><i class="icon-search"></i>Общий поиск</a></li>
                <li><a href="#tabr2"><i class="icon-group"></i>Поиск групп</a></li>
            </ul>

            <div id="tabr1" class="tab-content">
                <form action="" method="post" style="height: 100%">
                    <div class="filter-row">
                        <label for="country">Страна</label>
                        <select id="country">
                            <option value="0" selected="selected">-- Выберите страну --
                            </option>
                            {% for k, v in countries.items %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="filter-row">
                        <label for="city">Город</label>
                        <select id="city"></select>
                    </div>

                    <div class="filter-row">
                        <div id="age-picker">
                            <label for="age_from">Возраст</label>
                            <select id="age_from">
                                <option value="0">-- От --</option>
                            </select>

                            <label for="age_to"></label>
                            <select id="age_to" class="offset">
                                <option value="0">-- До --</option>
                            </select>
                        </div>
                    </div>

                    <div class="filter-row">
                        <label for="sex">Пол</label>
                        <div class="radio-row" id="_1"><i class="icon-check-empty"></i>Женский</div>
                        <div class="radio-row" id="_2"><i class="icon-check-empty"></i>Мужской</div>
                        <div class="radio-row" id="_0"><i class="icon-check"></i>Любой</div>
                    </div>
                    <div class="filter-row">
                        <button id="start-search-attack" class="square full-width">Начать</button>
                    </div>

                    {% csrf_token %}
                </form>
            </div>

            <div id="tabr2" class="tab-content">
                <form action="" method="post">
                    <div class="filter-row">
                        <label for="group_type">Тип группы</label>
                        <select id="group_type">
                            <option value="" selected="selected">-- Выберите тип группы --</option>
                            <option value="group">Группа</option>
                            <option value="page">Страница</option>
                            <option value="event">Событие</option>
                        </select>
                    </div>
                    <div class="filter-row">
                        <label for="group_name">Название группы</label>
                        <input type="text" name="group_name" id="group_name" value="" class="square"/>
                    </div>

                    <div class="filter-row">
                        <label>или</label>
                        <br/>
                    </div>

                    <div class="filter-row">
                        <label for="group_id">Идентификатор или короткое имя</label>
                        <input type="text" name="group_id" id="group_id"
                               value="" class="square" />
                    </div>

                    <div class="filter-row">
                        <button id="start-group-attack" class="square full-width">Начать</button>
                    </div>

                </form>
            </div>

        </div>
        <div class="hide">
            <div id="#no-pr-msg" class="tooltip-content">
                Пользователя запретил отправку личных сообщений
            </div>
        </div>
    </div>
    <div id="footer">

    </div>
</div>
</body>
</html>